.chessboard-grid .light-tile {
    -fx-background-image: url("board/light_wood_texture.png");
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-border-width: 0.5;
}

.chessboard-grid .dark-tile {
    -fx-background-image: url("board/dark_wood_texture.png");
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-border-width: 0.5;
}

/* Clase general para las banderas */
.flags {
    -fx-background-size: cover;
    -fx-background-color: blue;
    -fx-background-repeat: no-repeat;
}

/* Estilo específico para España (es_gl = Galicia) */
.flags .es-gl {
    -fx-background-image: url("flags/es_gl.png");
}

/* Estilo específico para China */
.flags .cn {
    -fx-background-image: url("flags/cn.png");
}