/******************************************/
/** START: NEW SYSTEM DESIGN  10-01-2025 **/
/******************************************/
/*
 Reads:
   https://docs.oracle.com/javafx/2/text/jfxpub-text.htm
*/
@font-face {
    font-family: "Alatsi";
    src: url("fonts/Alatsi-Regular.ttf");
    /* Opcionalmente: format("truetype"); */
}

.root {
    /* All app will use this font by default */
    -fx-font-family: "Alatsi";
}



/** Start: Rounded Avatar Container **/
.avatar-container {
    -fx-border-color: #686b75;       /* color del borde */
    -fx-border-width: 2;         /* grosor del borde */
    -fx-border-radius: 50;       /* borde redondeado */
    -fx-background-radius: 50;   /* también redondeamos el fondo del contenedor */
    -fx-padding: 2;              /* algo de espacio para que el borde no se “coma” la imagen */
}

.avatar-container:hover {
    -fx-border-color: #686b75;       /* color del borde */
    -fx-border-width: 2;         /* grosor del borde */
    -fx-border-radius: 50;       /* borde redondeado */
    -fx-background-radius: 50;   /* también redondeamos el fondo del contenedor */
    -fx-padding: 2;              /* algo de espacio para que el borde no se “coma” la imagen */
    -fx-background-color: #686b75;
}

.avatar-container-inside {
    -fx-border-color: #e55c45;       /* color del borde */
    -fx-background-color: #e55c45;
    -fx-border-width: 2;         /* grosor del borde */
    -fx-border-radius: 50;       /* borde redondeado */
    -fx-background-radius: 50;   /* también redondeamos el fondo del contenedor */
    -fx-padding: 2;              /* algo de espacio para que el borde no se “coma” la imagen */
}


/* start: system design - text */

.text-gray-small{
    -fx-text-fill: #686b75;
    -fx-font-size: 16px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-gray-super-small{
    -fx-text-fill: #686b75;
    -fx-font-size: 12px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-gray-ref-small{
    -fx-text-fill: #686b75;
    -fx-font-size: 16px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}
.text-gray-ref-small:hover{
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-white-big{
    -fx-text-fill: #ffffff;
    -fx-font-size: 29px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-white-extra-big{
    -fx-text-fill: #ffffff;
    -fx-font-size: 36px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-white-small{
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-white-medium{
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-red-big{
    -fx-text-fill: #e55c45;
    -fx-font-size: 42px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-gray-medium{
    -fx-text-fill: #686b75;
    -fx-font-size: 35px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-purple-small{
    -fx-text-fill: #848AE0;
    -fx-font-size: 16px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-menu-purple{
    -fx-text-fill: #8578F4;
    -fx-font-size: 16px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}

.text-menu-white{
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-family: "Alatsi";
    -fx-font-smoothing-type: gray;
}


/* end: system design - text */


/* start: system design - panels */
.panel-gray{
    -fx-background-color: #232232;
    -fx-border-color: gray;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.panel-menu{
    -fx-background-color: #161620;
    -fx-border-color: #161620;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}



.panel-black{
    -fx-background-color: #181823;
    -fx-border-color: #181823;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.panel-purple{
    -fx-background-color: #2A293A;
    -fx-border-color: #2A293A;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.panel-gray-for-menu{
    -fx-background-color: transparent;
}
.panel-gray-for-menu:hover{
    -fx-background-color:  #22222C;
}


.panel-gray-for-text{
    -fx-background-color: #555467;
    -fx-boarder-color:  #555467;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}

.text-field {
    -fx-background-color: transparent;
    -fx-foreground-color: white;
    -fx-font-family: "Alatsi";
    -fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-control-inner-background: transparent;

}
.text-field:focused {
    -fx-background-color: transparent;
    -fx-foreground-color: white;
    -fx-font-family: "Alatsi";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-control-inner-background: transparent;
}

.fancytext {
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

/* end: system design - panels */

/* start: system design - button red */
.button-red{
    -fx-text-fill: #ffffff;
    -fx-background-color: #e55c45;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button-red:hover{
    -fx-text-fill: #ffffff;
    -fx-background-color: #e55c45;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button-red:pressed {
    -fx-background-color: #303040;
    -fx-border-width: 0;

}
/* end: system design - button red */

/* start: system design - button 3 */
.button-gray{
    -fx-text-fill: #787787;
    -fx-background-color: #303040;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button-gray:hover{
    -fx-text-fill: #ffffff;
    -fx-background-color: #504F61;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button-gray:pressed {
    -fx-background-color: #303040;
    -fx-border-width: 0;

}
/* end: system design - button 3 */

/* start: system design - button 3 */
.button-menu{
    -fx-text-fill: #787787;
    -fx-background-color: #848AE0;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button-menu:hover{
    -fx-text-fill: #ffffff;
    -fx-background-color: #504F61;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button-menu:pressed {
    -fx-background-color: #303040;
    -fx-border-width: 0;

}

.chessboard-square-promote {
    -fx-background-color: #FFFFFF;
    -fx-boarder-color: #000000;
    -fx-border-radius: 20;
    -fx-border-width: 1;
}
.chessboard-square-white {
    -fx-background-color: #D0E0EB;
}
.chessboard-square-black {
    -fx-background-color: #618AB3;
}
/* end: system design - button 3 */


/******************************************/
/** END: NEW SYSTEM DESIGN  10-01-2025 **/
/******************************************/